@model Shauli_Blog.Models.Comment

@{
    using (Html.BeginForm("CreateComment","Blog",FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <!-- Blog Comments -->

            <!-- Getting the PostId from Index.cshtml-->
            @Html.HiddenFor(model => model.PostId)
           
        <!-- Comments Form -->

        <div class="well">
            <h4>@Html.LabelFor(model => model.Content, "Leave a Comment:")</h4>
            <comm>
                <ul>
                    <li>

                        @Html.TextBoxFor(model => model.Title, new {id = "title", required = "required", @class = "form-control", placeholder = "Title" })
                    </li>
                    <li>

                        @Html.TextBoxFor(model => model.Author, new {id = "Author", required = "required", @class = "form-control", placeholder = "Name" })
                    </li>

                    <li>

                        @Html.TextBoxFor(model => model.Url, new {id = "Url", type = "url", @class = "form-control", placeholder = "Website" ,} )
                    </li>
                </ul>
            </comm>
            <form role="form">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Content, new {id = "comment", required = "required", @Style = "height:150px; width:515px;" , @class="form-control",placeholder="Write somthing.."})
                </div>
                <input type="submit" value="Post comment" class="btn btn-primary"/>
            </form>
        </div>

        }
       
}