@using System.Globalization
@using Shauli_Blog.Models
@model IEnumerable<Shauli_Blog.Models.Post>

<div id="mainContent">
    <!-- IFormatProvider for post date -->
    @{CultureInfo dateFormatProvider = CultureInfo.CreateSpecificCulture("en-US");}
    
    @foreach (var post in Model)
    {

        <section>
            <article class="blogPost">
                <header>
                    <legend><h2>@post.Title</h2></legend>
                    <p>
                        <small> Posted on <time datetime="@post.PublishDate"> @post.PublishDate.ToString("D", dateFormatProvider) </time> by
                        <a href="@post.Url">@Html.DisplayFor(modelpost => post.Author)</a> -<a href="#comments"> @post.Comments.Count</a> comments <!-- display count comments -->
                        </small></p>
                </header>
                <div id="contentText">
                    <p> @post.Content </p>
                    
                    @if (!string.IsNullOrEmpty(post.Image))
                    {
                        <img src="@post.Image" alt="pic" width="250" height="250" style="margin-top: 10px;"/>
                    }
                    @if (!string.IsNullOrEmpty(post.Video))
                    {
                        <video controls="controls">
                            <source src="@post.Video" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    }


                </div>
            </article>
        </section>


        <!-- Generate Post Comment form -->
        Comment newComment = new Comment();
        // Get current post's PostId and pass it to _PostComment partial view
        newComment.PostId = post.PostId;
        @Html.Partial("_PostComment", newComment)  

        <!-- Comments section -->
        <h2>Comments</h2>
        <section id="comments">
            <!-- Display each comment in DB which related to this post -->
            @foreach (var comment in post.Comments)
            {
                <hr>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@comment.Title
                            <small>Post by:<a href="@comment.Url">@comment.Author</a></small>
                        </h4>
                        @comment.Content
                    </div>
                </div>
                    }
        </section>

    }
    


</div>


