@model Shauli_Blog.Models.Comment

@{
    using (Html.BeginForm("CreateComment","Blog",FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

      
        <h3>Post a comment</h3>
    
        @Html.HiddenFor(model => model.PostId) <!-- Getting the PostId from Index.cshtml-->
        <p>
            @Html.LabelFor(model => model.Author, "Name")
            @Html.TextBoxFor(model => model.Author, new { id = "writer", required = "required" })
        </p>
        <p>
            @Html.LabelFor(model => model.Url, "Website")
            @Html.TextBoxFor(model => model.Url, new { id = "writerWebSite", type = "url"})
        </p>
        <p>
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { id = "title", required = "required" })
        </p>
        <p>
            @Html.LabelFor(model => model.Content, "Comment")
            @Html.TextAreaFor(model => model.Content, new { id = "comment", required = "required" })
        </p>
    
        <p><input type="submit" value="Post comment" class="btn btn-primary" /></p>

        }
       
}