@using System.Globalization
@using Shauli_Blog.Models
@model IEnumerable<Shauli_Blog.Models.Post>

<div id="mainContent">
    <!-- IFormatProvider for post date -->
    @{CultureInfo dateFormatProvider = CultureInfo.CreateSpecificCulture("en-US");}
    
    @foreach (var post in Model)
    {
        <section>
            <article class="blogPost">
                <header>
                    <legend><h2>@post.Title</h2></legend>
                    <p>
                        Posted on <time datetime="@post.PublishDate"> @post.PublishDate.ToString("D", dateFormatProvider) </time> by
                        <a href="@post.Author">@Html.DisplayFor(modelpost => post.Author)</a> -<a href="#comments"> @post.Comments.Count</a> comments <!-- display count comments -->
                    </p>
                </header>
                <div id="contentText">
                    <p> @post.Content </p>
                </div>
            </article>
        </section>

        <!-- Comments section -->
        <section id="comments">
            <h2>Comments</h2>
            <!-- Display each comment in DB which related to this post -->
            @foreach (var comment in post.Comments)
            {
                <article>
                    <header>
                        <a href="@comment.Url">@comment.Author</a>
                    </header>
                    <p> @comment.Content </p>
                </article>
            }
        </section>

        <!-- Generate Post Comment form -->
        Comment newComment = new Comment();
        // Get current post's PostId and pass it to _PostComment partial view
        newComment.PostId = post.PostId;
        @Html.Partial("_PostComment", newComment)

    }

</div>


