@using Microsoft.Ajax.Utilities
@model Shauli_Blog.Models.Post

@{
    ViewBag.Title = "Create";
}

<legend><h2>Create Post</h2></legend>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
   
        <div class="form-horizontal">
            <!-- Send a default PublishDate to controller -->
            @Html.HiddenFor(model => model.PublishDate)
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            
            <!--Post details-->
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Author, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Author, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Author, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Url, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Url, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.CheckBox("addImageCheckbox", false)
                    
                    @Html.TextBoxFor(model=>model.Image,null, htmlAttributes: new { @class = "form-control" , @disabled = "disabled" , id = "image"})
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.CheckBox("addVideoCheckbox", false)
                    @Html.TextBoxFor(model => model.Video, null, htmlAttributes: new { @class = "form-control", @disabled = "disabled",id="video" })
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
                </div>
            </div>
                

            <!--Content editor section - Soon!!-->
            <!--Html.Partial("_Content")-->

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back Administration", "Administration")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/Post/post_create.js")
    }

